<p>
  <strong>Name:</strong>
  <input name="encoder[name]" id="encoder_name" value="<%= @encoder.name %>" size="50"></input>
</p>

<input type="submit" value="Save"/>

<p>
  <a href="/encoders">cancel</a>
</p>

