## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## NetBeans
nbproject

## PROJECT::GENERAL
coverage
rdoc
pkg
release

## PROJECT::SPECIFIC
*.log
*.sqlite3
*.mpg
*.flv

