<div class="post">
	<h1 class="title">Your own enigma machine</h1>
	<div class="entry">
		<% unless @videos.empty? %>
		  <p>Some recently added videos:</p>
		  <ul>
        <%= partial :'videos/video', :collection => @videos %>
      </ul>
    <% end %>
	</div>
</div>

